apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "extranet-apigateway.fullname" . }}
{{ if .Values.secrets.imageRegistry.enabled -}}
imagePullSecrets:
  - name: {{ .Values.secrets.imageRegistry.prefixName }}-image-registry-secret
{{ end }}
