name: Build
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Build with Docker
        run: |
          docker build -f src/GiulioCardillo.Exercize1.API/Dockerfile -t giuliocardillo.exercize1.api .


