apiVersion: v1
kind: Service
metadata:
  name: {{ include "extranet-identity.fullname" . }}-api
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: {{ .Values.service.protocol }}
      name: {{ .Values.service.name }}
  selector:
    app:  {{ include "extranet-identity.fullname" . }}-api