apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "extranet-identity.fullname" . }}
{{ if .Values.secrets.imageRegistry.enabled -}}
imagePullSecrets:
  - name: {{ .Values.secrets.imageRegistry.prefixName }}-image-registry-secret
{{ end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "extranet-identity.fullname" . }}-k8s-wait-for
{{ if .Values.secrets.imageRegistry.enabled -}}
imagePullSecrets:
  - name: {{ .Values.secrets.imageRegistry.prefixName }}-image-registry-secret
{{ end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "extranet-identity.fullname" . }}-k8s-wait-for
subjects:
  - kind: ServiceAccount
    name: {{ include "extranet-identity.fullname" . }}-k8s-wait-for
roleRef:
  kind: Role
  name: {{ include "extranet-identity.fullname" . }}-k8s-wait-for
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "extranet-identity.fullname" . }}-k8s-wait-for
rules:
- apiGroups: ["batch"]
  resources: ["jobs"]
  resourceNames:
    - {{ include "extranet-identity.fullname" . }}-job
  verbs: ["get", "watch", "list"]